.container {
    position: absolute;
    background-color: var(--bottombar);
    height: 50px;
    max-width: 300px;
    border-radius: 12px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: row;
}

.icon {
    height: 80%;
    aspect-ratio: 1;
    object-fit: contain;
    padding: 0 10px;
}